body {
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.jumbo-home{
  background-image: url('./workoutGen.jpg');
  background-size: cover;
  height: 100%;
  color:white;
}

.jumbo-about{
  background-image: url('./passionAbout.jpg');
  background-size: cover;
  height: 100%;
  color:black;
}
.jumbo-generator{
  background-image: url('./generator.jpg');
  background-size: cover;
  height: 100%;
  color:white;
}

.card-workout{
color: #787171;
}