body {
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.jumbo-home{
  background-image: url('./workoutGen.jpg');
  background-size: cover;
  height: 100%;
  color:white;
  margin-bottom: 0px;
}

.jumbo-about{
  background-image: url('./passionAbout.jpg');
  background-size: cover;
  height: 100%;
  color:white;
  margin-bottom: 0px;
}
.jumbo-generator{
  background-image: url('./generator.jpg');
  background-size: cover;
  height: 100%;
  color:white;
  margin-bottom: 0px;
}

.card-workout{
color: #787171;
}

.h1-about{
color: white;
}

.about-listItem>p{
  color: white;
}

.about-listItem,ListGroup.Item{
  opacity: 0.9;
  color: white;
}
